# Panacea OS Enterprise v3.0 production configuration template
PANACEA_FOUNDATION_URL=
PANACEA_SECURITY_URL=
PANACEA_AUDIT_URL=
PANACEA_NOTIFICATION_URL=
PANACEA_GLOBAL_HEALTHCARE_URL=
PANACEA_GLOBAL_COMPLIANCE_URL=
PANACEA_AI_ASSURANCE_URL=
PANACEA_PATIENT_PORTAL_URL=
PANACEA_RESEARCH_URL=
PANACEA_FEDERATED_URL=
PANACEA_ENTERPRISE_URL=
PANACEA_DEVOPS_URL=
PANACEA_LEGAL_GOVERNANCE_URL=
PANACEA_CUSTOMER_SUCCESS_URL=
PANACEA_PRODUCT_MANAGEMENT_URL=
PANACEA_GLOBAL_WORKFORCE_URL=
PANACEA_GLOBAL_PRIVACY_URL=
